.dropdown-container {
    width: 380px;
}

.custom-textfield .MuiInputBase-root {
    border-radius: 13px; 
  }
  
.dropdown-paper {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #94A3B8; 
    
}

.option-item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
  
.icon-placeholder {
    width: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .checked-icon {
    width: 16px; 
    height: 10px; 
  }
  
  .option-text {
    margin-left: 20px; 
  }